# Ignore node_modules
Onlinemd/node_modules/
OnlineMedDonation-Backend/node_modules/

# Ignore build/output/log
build/
dist/
*.log

# Ignore VS/IDE files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore DB files
MedDB/*.mdf
MedDB/*.ldf

# Ignore env files
*.env

# Ignore OS files
.DS_Store
Thumbs.db
